.journal-form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.form-label {
	display: flex;
	align-items: center;
	font-size: 14px;
	gap: 20px;
	min-width: 100px;
	filter: brightness(0.8);
}
.form-row {
	display: flex;
	gap: 50px;
	font-weight: 600;
	align-items: center;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.input-area {
	border: none;
	background: none;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	line-height: normal;
	width: 100%;
	resize: none;
	outline: none;
	border-radius: 3px;
}
.invalid {
	border: 1px solid #646cff;
}
.delete {
	border: none;
	background: none;
	filter: brightness(0.8);
	cursor: pointer;
	transition: all 0.4s ease-in-out;
	&:hover {
		filter: brightness(1);
	}
}
